{% extends "layout.html" %}
{% block main %}
    {% load staticfiles %}

      <!--<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="images/filmSherlock.jpg" alt="...">
				<div class="caption">
				<h3>Шерлок Холмс</h3>
				<p>Удивительные приключения известного сыщика</p>
				<p><a href="#" class="btn btn-primary" role="button">Купить билет</a> <a href="../polushablon/film-page.html" class="btn btn-default" role="button">Описание</a></p>
			</div>
			</div>
			</div>-->
    <div id="films">

    </div>
{% endblock %}